* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

header {
    background-color: #6fb4e2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    cursor: pointer
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff9800;
    cursor: pointer;
}

section {
    margin: 40px 0;
}

h2 {
    color: #2c3e50;
    margin-bottom: 15px;
}

article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-left: 5px solid #3498db;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: #777;
}